<h1>Stimulus practice</h1>

<div data-controller="hello">
  <input data-hello-target="name" type="text">

  <button data-action="click->hello#greet">
    Przywitaj
  </button>

  <span data-hello-target="output"></span>
</div>

<hr id="bibi">

<div data-controller="toggle">
  <button data-action="click->toggle#toggle">
    Pokaż / Ukryj
  </button>

  <div data-toggle-target="content" class="hidden">
    Jestem ukrywaną treścią!
  </div>
</div>  

<hr>

<div data-controller="toggle">
  <button data-action="click->toggle#toggle">
    Pokaż / Ukryj menu
  </button>

  <div data-toggle-target="content" class="hidden">
    To jest menu.
  </div>
</div>


<hr id="cici">

<div data-controller="toggle">
  <button data-action="click->toggle#toggle">
    Pokaż / Ukryj sekretną wiadomość
  </button>

  <div data-toggle-target="content" class="hidden">
To jest sekretna wiadomość.
  </div>
</div>

<hr>

<h2>Kliknij element, żeby zamienić treść</h2>

<hr>

<div data-controller="toggle">
  <div 
    data-toggle-target="content"
    data-action="click->toggle#toggle"
  >
    Kliknij mnie — jestem elementem A
  </div>

  <div data-toggle-target="content" class="hidden">
    Jestem elementem B — pojawiłem się po kliknięciu
  </div>
</div>

<hr id="eldo">

<h2> checkbox highlight </h2>

<div data-controller="checkbox-highlight">
  <label data-checkbox-highlight-target="box">
    <input 
      type="checkbox"
      data-action="change->checkbox-highlight#toggle"
    >

Pomyśl o lepszych inwestycjach w swoim życiu
  </label>
</div>


<hr id="dziewanna">

<h3> Licznik znaków / Chars counter </h3>

<div data-controller="character-counter">
  <textarea
  maxlength="280"
    data-character-counter-target="input"
    data-action="input->character-counter#count"
  ></textarea>

  <p data-character-counter-target="output">
    Pozostało: 280 znaków
  </p>
</div>